div {
    background-color: #cce605;
    border-style: solid;
    border-width: 2px;
    border-color: black;
  }
  
  img {
    max-width: 80%;
  }
  
  #header {
    background-color: #d4a373;
  }
body {
  background-color: #9effc3;
}